# POSTGRES_USER
DB_HOST="localhost"
DB_PORT="5432"
DB_DATABASE="Adventureworks"
DB_USER="postgres"
DB_PASSWORD="postgres"

DEBUG=True,type=bool

DATA_PASSWORD="input_yours"
MODEL_FOLDER="input_yours"
DATA_DIR="input_yours"