# Network IPs
NETWORK_IP=10.21.21.0
BACKEND_IP=10.21.21.22
FRONTEND_IP=10.21.21.23
NGINX_IP=10.21.21.24
AIRFLOW_IP=10.21.21.25

# FRONTEND 
NODE_ENV=
FRONTEND_PORT=90

# BACKEND
PYTHONPATH=.
SQLITE_PATH="data/sql_app.db"
DATABASE_TYPE="postgres"
ACCESS_TOKEN_EXPIRE_MINUTES=60,type=int
DEBUG=True,type=bool
BACKEND_PORT=9090
CRAWLING_PLATFORM='linux'
TRANSACTION_MONITORING_LIMIT=300000
##AI part config
AI_MODEL_FOLDER="/Users/tu/SourceCode/AI_models_v2"


# POSTGRES_USER
DB_HOST="10.21.21.21"
DB_PORT="5432"
DB_DATABASE="postgres"
DB_USER="infimum"
DB_PASSWORD="infimum@"

# NGINX 
NGINX_PORT=80

#AIRFLOW
AIRFLOW_PORT=8081
AIRFLOW_VERSION=2.4.0
AIRFLOW_ADMIN=admin
AIRFLOW_ADMIN_PASS=abcxyz

